body{
	background-color: #F4F4F4;
}
.case-detail-box{
	width: 70%;
	background-color: #fff;
	margin: 85px auto;
	padding: 1.5% 2.5% 2% 2.5%;
}
.case-detail-head{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.case-detail-head-img{
	max-width: 78px;
	float: left;
}
.case-detail-head-info{
	width: 100%;
	position: absolute;
	padding-left: 106px;
	bottom: 0;
}
.case-detail-head-title{
	font-size: 14px;
	color: #000;
	margin-bottom: 2px;
}
.case-detail-head-userinfo{
	overflow: hidden;
	width: 100%;
	font-size: 12px;
	color: #696969;
}
.case-detail-head-username{
	float: left;
}
.case-detail-head-time{
	float: right;
}
.case-detail-info-img{
	margin: 18px auto 0 auto;
}
@media (max-width: 960px) {
	.case-detail-head-img{ max-width: 58px;}
	.case-detail-head-info{ padding-left: 76px;}
}
@media (max-width: 768px){
	.case-detail-box{ margin: 20px auto}
	.case-detail-head-img{ max-width: 48px;}
	.case-detail-head-info{ padding-left: 66px;}
}
@media (max-width: 480px){
	.case-detail-head-img{ max-width: 48px;}
	.case-detail-head-info{ padding-left: 56px;}
	.case-detail-head-title{ font-size: 12px;}
	.case-detail-head-userinfo{ font-size: 10px;}
	.case-detail-info-img{ margin: 8px auto 0 auto;}
}
